<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>tasklists-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item lines="none" class="centerInput">
      <ion-input
              id="inputModif"
              autofocus="true"
              placeholder="Créez une liste"
              (keyup.enter)="onCreateClick()"
              [(ngModel)]="newList.title"></ion-input>
  </ion-item>

  <ion-list padding>
      <ion-item-sliding *ngFor="let list of lists">
          <ion-item-sliding><ion-item>
            <ion-icon name="arrow-dropright" (click)="goToList(list)"></ion-icon>
            <ion-label (click)="goToList(list)">{{list.title}}</ion-label>
          </ion-item></ion-item-sliding>

          <ion-item-options side="end" (click)='onDeleteClick(list)'>
            <ion-item>
              <ion-icon name="trash"></ion-icon>
            </ion-item>
          </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
