<ion-header>
  <ion-toolbar>
    <ion-title>Modifier la tâche</ion-title>
    <ion-icon class="btn-close" name="close" slot="end" (click)="closeModal()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label text-wrap position="fixed">Intitulé</ion-label>
    <ion-input type="text" [(ngModel)]="clone.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label text-wrap position="fixed">Date de création</ion-label>
    <ion-datetime disabled type="date" [(ngModel)]="clone.creationDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label text-wrap position="fixed">Date limite</ion-label>
    <ion-datetime  type="date" [(ngModel)]="clone.dueDate"></ion-datetime >
  </ion-item>
  <div>
    <ion-button color="primary" (click)="saveData()">Sauvegarder</ion-button>
  </div>
</ion-content>
