<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>tasklists-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-item lines="none" class="centerInput">
      <ion-input
              id="inputModif"
              autofocus="true"
              placeholder="Créez une liste"
              [(ngModel)]="newList.title"></ion-input>
      <ion-icon name="add-circle-outline" (click)="onCreateClick()"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-item lines="full" href="" *ngFor="let list of lists">
      <ion-icon name="arrow-dropright" (click)="goToList(list)"></ion-icon>
      <ion-label>{{list.title}}</ion-label>
      <ion-icon name="trash" (click)="onDeleteClick(list)"></ion-icon>
      <ion-icon name="create" id="ion-modal" (click)='openModalList(list)'></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>
