<ion-header>
    <ion-toolbar *ngIf="list">
        <ion-title>{{list.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-item>
        <ion-item class="centerInput">
            <ion-input
                    id="inputModif"
                    autofocus="true"
                    placeholder="Entrez une tâche"
                    [(ngModel)]="todo.title"></ion-input>
            <ion-icon name="add-circle-outline" (click)='onAddClick();'></ion-icon>
        </ion-item>
    </ion-item>

    <ion-list>
        <ion-item *ngFor="let task of list.tasks" [class]="task.done ? 'barre' : ''">
            <ion-label>{{task.title}}</ion-label>
            <div slot="start">
            <ion-checkbox color="primary" [checked]="task.done" (click)='toggleDone()'></ion-checkbox>
            </div>
            <ion-icon [name]="task.priorize ? 'star' : 'star-outline'" (click)='togglePriorize();'></ion-icon>
            <ion-icon name="trash" (click)='onDeleteClick();'></ion-icon>
            <ion-icon name="create" id="ion-modal" (click)='openModal(task);'></ion-icon>
        </ion-item>
    </ion-list>
   
</ion-content>


