<ion-header>
    <ion-toolbar *ngIf="list">
        <ion-title>{{list.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-item>
        <ion-item class="centerInput">
            <ion-input
                    id="inputModif"
                    autofocus="true"
                    placeholder="Entrez une tâche"
                    [(ngModel)]="todo.title"></ion-input>
            <ion-icon name="add-circle-outline" (click)='onAddClick();'></ion-icon>
        </ion-item>
    </ion-item>

    <ion-list>
        <ion-item *ngFor="let task of list.tasks">
            <ion-icon
                    slot="start"
                    (click)="toggleDone(task)"
                    [name]="task.done ? 'radio-button-on' : 'radio-button-off'" [class.barre]="task.done"></ion-icon>
            <ion-label>{{task.title}}</ion-label>
            <ion-icon (click)="togglePriorize(task)" [name]="task.priorize ? 'star' : 'star-outline'"></ion-icon>
            <ion-icon name="trash" (click)='onDeleteClick(task)'></ion-icon>
            <ion-icon name="create" id="ion-modal" (click)='openModal(task)'></ion-icon>
        </ion-item>
    </ion-list>
   
</ion-content>


