ion-toolbar {
    --background: url('/assets/image/mountain.jpg') no-repeat center center / cover; 
    height: 200px;
 }

 ion-title {
     color: #fff;
 }

#inputModif {
    text-align: center;
    width: 100px !important;
    border: 1px solid #000;
    // max-width: 65%;
 }

.centerInput {
    margin: auto;
    min-width: 75%;
}

ion-checkbox {
    --border-radius: 50% !important;
}

.barre {
    text-decoration: line-through;
}